:root {
  --side-padding: 10px;
  --section-margin: 12px;
  --base-font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #303030;
  font-family: sans-serif;
  font-size: var(--base-font-size);
}

h1 {
  line-height: 1;
  font-size: 2em;
  color: #42baff;
  padding: var(--side-padding);
  padding-top: calc(var(--side-padding) + 4px);
  padding-left: calc(var(--side-padding) - 2px);
  margin: 0;
  margin-bottom: var(--section-margin);
  border-bottom: 2px dashed grey;
}
h1 strong {
  margin-right: 0.5em;
}
h1 span {
  color: skyblue;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
}

main {
  padding: 0 var(--side-padding);
}

.blockCt {
  border: 1px solid black;
  background: #eee;
  margin: var(--section-margin) 0;
  padding: 6px;
}

#errorIcon {
  width: 18px;
  height: 20px;
  padding-left: 10px;
  align-self: flex-end;
  display: none;
}

#errorIcon i {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--error-color);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
}

#errorIcon i:hover {
  background: #ff009d;
}

#errorIcon.show {
  display: block;
}

.btnsCt {
  margin: var(--section-margin) 0;
}

.btnsCt button {
  box-sizing: content-box;
  height: 20px;
  padding: 6px 8px 4px 8px;
  font-size: 18px;
  line-height: 18px;
  margin-right: 8px;
  border-radius: 6px;
  color: white;
  background: #005cdd;
  border: none;
  cursor: pointer;
  outline: none;
}

.btnsCt button:hover {
  background: #0080ff;
}
.btnsCt button:active {
  background: navy;
}

#diagramCt {
  height: 200px;
}

#errorBox {
  color: darkred;
  display: none;
}

#errorBox .highlight {
  color: red;
  font-weight: bold;
}

#errorBox .normal {
  color: navy;
}

#errorBox.show {
  display: block;
}

footer {
  text-align: center;
  border-top: 1px solid grey;
  margin: var(--section-margin) 0;
  padding: var(--section-margin) var(--side-padding);
  padding-bottom: 2em;
}

footer a.siteLink {
  color: deepskyblue;
  text-decoration: none;
  padding: 1px;
  border-bottom: 1px solid deepskyblue;
}

footer a.siteLink:hover {
  color: lightcyan;
  border-color: lightcyan;
}

.foBtn {
  font-size: 16px;
  padding: 1px 10px 2px 8px;
  display: inline-block;
  border-radius: 6px;
  text-decoration: none;
  font-weight: normal;
}

.foBtn svg {
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
}

.twitterJex {
  color: white;
  background-color: #1f95e1;
  margin-right: 10px;
}

.twitterJex:hover {
  background-color: #0c7abf;
}

.githubJex {
  color: black;
  background-color: #eee;
}

.githubJex:hover {
  background-color: #d0d5da;
}

.githubCorner {
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.githubCorner svg {
  fill: cornflowerblue;
  color: #eee;
}

.githubCorner:hover .octoArm {
  animation: octocatWave 600ms ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes octocatWave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
